# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3 
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 2 
num2 = 5.4 
result = num1 + num2 
print(result)

7.4

##### Subtraction

In [8]:
resultdiff = num1 - num2 
print(resultdiff)

-3.4000000000000004

##### Multiplication

In [9]:
result_mul = num1 * num2 
print(result_mul)

10.8

##### Division

In [10]:
result_div = num2/num1 
print(result_div)

2.7

##### Floor Division

In [163]:
result_floor = num2 // num1 
print(result_floor)

1

##### Modulo

In [12]:
result_mod = num2 % num1 
print(result_mod)

1.4000000000000004

##### Exponential

In [13]:
square = 5 ** 2 
print(square)

25

### String Input-Output

##### String Assignment

In [14]:
name = 'Ehren' 
print(name)

Ehren

##### print() <br>
<p>Don't forget about end=' '</p>

In [19]:
print("This is my first name: ", name, end=' Abbott')

This is my first name:  Ehren Abbott

##### String Concatenation

In [22]:
first_name = "John" 
last_name = "Smith" 
full_name = first_name + " " + last_name

print(full_name)

John Smith

##### Type Conversion

In [24]:
number = "32" 
change_type_to_num = int(number) 

print(number)
print(change_type_to_num)

32
33

##### input()

In [25]:
name = input("What is your name?")

print(input)

What is your name?Ehren
<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7f9f2639d5e0>>

##### format()

In [27]:
age = input("What is your age?") 
result_string = "you are" + " " + "and you are getting wiser"

What is your age?12

##### Old Way (python 2)

In [32]:
result_string2 = "you are %s" %age 
print(result_string2)

you are 12

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
color = input("What it the color of your car? ") 
make = input("What is the make of your car?") 
model = input("What is the model of your car?") 
year = input("What year was your car made?")

answer = "You have a {} {} {} made in {}".format(color, make, model, year) 
print(answer)

What it the color of your car? blue
What is the make of your car?mazda
What is the model of your car?CX-5
What year was your car made?2021
You have a blue mazda CX-5 made in 2021

### If Statements

In [57]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F 

num1 = 5 
num2 = 5
num3 = 5 
if num1 == num2 or num2 == num3: 
    print("True") 
else: 
    print("False")

True

##### 'is' keyword

num1 = 5 
if num1 is 5:
    print("yes")

##### 'in' keyword

In [64]:
name1  = "Ehren" 
if name1 in "Ehren Abbott": 
    print("correct")

correct

##### 'not in' keyword'

In [70]:
if name1 not in "Peter": 
    print("Not in")

Not in

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [2]:
user_name = input("What is your name?") 
if 'p' in user_name: 
    print("This name does contain the letter 'p'")
else: 
    print("This name DOES NOT contain the letter 'p'")

What is your name?Ehren
This name DOES NOT contain the letter 'p'

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [76]:
for X in range(50): 
    if X * X < 1000: 
        print(X * X) 
    else: break 

# HINT for #2::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [178]:
for C in range(100):  
    if C == 2 or C == 3 or C == 5 or C == 7: 
        print(C)
    elif C % 2 == 0 or C % 3 == 0 or C % 5 == 0 or C % 7 == 0 or C == 1: 
        continue 
    else:
        print(C)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [189]:
user_age = input("What is your age?") 

if int(user_age) < 18:
    print("kids") 
elif int(user_age) >= 18 and int(user_age) <= 65: 
    print("adults") 
else: 
    print("seniors")

What is your age?100
seniors